$accent: #747778;
$default: #EFF1F1;
$title: #2D3132;




%stolzl-book{
  font-family: 'Stolzl-Book', sans-serif;
  font-weight: 400;
}

%stolzl-400{
  font-family: 'Stolzl-Regular', sans-serif;
  font-weight: 400;
}

%stolzl-500{
  font-family: 'Stolzl-Medium', sans-serif;
  font-weight: 500;
}




